* {
margin: 0;
padding: 0;
}


body {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
}
header {
  background-color: #333333;
  color: #ffffff;
  height: 40px;
}

img {
  width: 100%;
}

span {
    background:#fff;
    padding:0 20px;
}

h1{
  font-size: 10px;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-weight: 500;
  padding-left: 2%;
}
nav ul li {
  font-size: 9px;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 4px;
  display: inline-block;
  padding: 15px;
}
.wrapper {
  margin-left: 0%;
  margin-right: 2%;
  height: 100%;

}


.flex {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.content {
  display: flex;
}

.landing-image {
  width: 100%;
}
main {
  width: 80%;
}

article {
  margin-right: 2%;
  margin-left: 2%;
}

.date {
  text-align: center;
  color: #cecece;
  font-size: 11px;
  letter-spacing: 2px;
  text-transform: uppercase;
  margin-top: 50px;
  margin-bottom: 20px;
  border-bottom: 1px solid #000;
  line-height: 0.1em;
  border-color: #ebebeb;
  border-left: 50px;
  width: 20%;
  margin: 100px auto 30px auto;
}

h2 {
  font-family: 'montserrat', serif;
  text-transform: uppercase;
  font-weight: 300;
  font-size: 24px;
  letter-spacing: 2px;
  text-align: center;
  margin-bottom: 30px;
  color: #333333;
}

.location {
  width: 36px;
  padding-top: 50px;
  margin: 0px auto;
}

.locationtext {
  font-size: 11px;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #333333;
  font-weight: 300;
  padding-top: 10px;
  text-align: center;
}

p {
  font-family: 'playfair display', serif;
  font-style: italic;
  font-weight: 400;
  font-size: 15px;
  letter-spacing: 0.5px;
  text-align: center;
  padding: 3% 10%;
  line-height: 24px;
  color: #444444;
}

.more {
  font-size: 9px;
  font-weight: 300;
  color: #999999;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2px;
  border: 1px solid rgba(0, 0, 0, .1);
  padding: 10px;
  width: 100px;
  margin: 0 auto 10% auto;

}

aside {
  width: 20%;
  margin-left: 2%;
  margin-top: 100px
}
aside li {
  list-style-type: none;
}

h3 {
  font-family: montserrat;
  font-size: 12px;
  color: #333333;
  font-weight: 500;
  letter-spacing: 2px;
  text-transform: uppercase;
  padding-bottom: 15px;
}

li {
  font-family: montserrat;
  font-size: 9px;
  color: #999999;
  line-height: 20px;
  font-weight: 300;
  letter-spacing: 2px;
  text-transform: uppercase;
}

h4 {
  margin-top: 30px;
  margin-bottom: 15px;
  font-family: montserrat;
  font-size: 12px;
  color: #333333;
  font-weight: 500;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.about-text {
  font-family: playfair display;
  font-size: 13px;
  color: #999999;
  line-height: 20px;
  font-weight: 300;
  letter-spacing: 1px;
  text-transform: none;
  padding-right: 35px;
}


.call-to-action {
  background-color: #ebebeb;
  font-family: montserrat;
  font-weight: 400;
  color: #333333;
  background-color: #ffeded;
  font-size: 10px;
  text-align: center;
  letter-spacing: 2px;
  text-transform: uppercase;
  padding: 30px 0;
}
